.el-pagination
  flex none
  margin 50px 0 60px 0
  .el-pager 
    li
      min-width 28px
      width 28px
      height 28px
      line-height 28px
      font-weight normal
      padding 0
      margin 0 18px
      &.active
        color $white1
        background-color $labmaiRed
        border-radius 14px
      &:hover
        color $labmaiRed
    li+li
      margin-left 18px    
    li:first-child
      margin-left 18px
    li:last-child
      margin-right 18px
  .el-pagination__total
    margin-left 38px
  // 目前是i变色 错误，应该改为 button下的color属性
  button:hover i
    color $labmaiRed
  button:disabled i
    color $lightGray