.notice-detail-header
  width 1060px
  text-align center
  border-bottom: 1px solid #E9E9E9
  padding: 33px 0 0 0
  .title
    color #6D99CA
    font-size: 16px
  .ctime
    color: #B0B0B0
    font-size: 13px
    line-height: 50px
.notice-detail-content
  padding 30px 0
  width 1060px
