$footerColor = #f7f8fc
$footerLineColor = #9396a2
$footerFontColor = #9396a2

.bottom
  width 100%
  height $footerHeight
  background-color $footerColor
  display flex
  flex-flow row nowrap
  justify-content center
  flex none
.bottom-board
  width 100%
  max-width $contentMaxWidth
  min-width $contentMinWidth
  display flex
  align-items center
  justify-content space-between
.bottom-board .left, .bottom-board .right
  display flex
  align-items center
.bottom .line
  margin 0 26px
  width 1px
  height 26px
  background-color $footerLineColor
.bottom .message
  display flex
  font-size $smallFont
  color $footerFontColor
  flex-direction column
  align-items flex-start
  justify-content center
  margin-right 20px