.top
  display flex
  flex-direction row
  justify-content space-between
  width 100%
  max-width $contentMaxWidth
  min-width $contentMinWidth
  height $headerMainHeight
  align-items center
.entrance
  font-size $smallFont
  width $headerButtonWidth
  height $headerButtonHeight
  line-height $headerButtonHeight
  border 1px solid $labmaiRed
  border-radius 4px
  text-align center
  box-sizing border-box
  cursor pointer
.image
  width 500px
  height 58px
.top
  .entrance
    color #ffffff
    background-color $labmaiRed

.load, .passage
  .entrance
    color $labmaiRed
    border 1px solid $labmaiRed
    background-color $lightlabmaiRed