@media screen and (max-width: 960px) {
}

@media screen and (max-width: 1200px) {
  .top {
    height $headerMainHeightFix
    max-width 1000px
  }
  .notice-container {
    max-width 1000px
  }
  .thumbnail {
    max-width 1000px
  }
  .list-board {
    max-width 1000px
  }
  .home {
    .banner {
      height $higherBannerFix
    }
  }
  .load, .passage {
    .banner {
      height $lowerBannerFix
    }
  }
  .notice-container {
    .title {
      height $noticeTitleHeightFix
    }
  }
}

@media screen and (max-width: 1920px) {
}