@import './adapt.styl';

/**
* 通用设置
*/
// 页面主体部分宽度
$contentWidth = 1200px
$contentMaxWidth = 1200px
$contentMinWidth = 960px
$normalIconFont = 20px
$biggggerFont = 22px
$bigggerFont = 20px
$biggerFont = 18px
$bigFont = 16px
$normalFont = 14px
$smallFont = 12px

/**
* 头部设置
*/
// 顶部主体部分高度
$headerMainHeight = 100px
$headerMainHeightFix = 80px
$headerButtonWidth = 100px
$headerButtonHeight = 32px

/**
* 主体部分设置
*/
// banner高度
$higherBanner = 500px
$higherBannerFix = 450px
$lowerBanner = 130px
$lowerBannerFix = 100px
// home页通知公告和文件下载展示板
$noticePadding = 14px 26px
$noticeWidth = 400px
$noticeTitleHeight = 54px
$noticeTitleHeightFix = 42px
// thumbnail宽度
// 列表页
$listWidth = 1060px
$listSpace = 30px
// 底栏
$footerHeight = 65px

/**
* 常用颜色
*/
$labmaiRed = #e27471
$lightlabmaiRed = #fdf7f7
$noticeBlack = #00000060
$white1 = #ffffff
$white2 =rgba(250,250,250,0.5)
$white3 = rgba(250,250,250,0.7)
$noticeTitle = #ffffff
$lineGray = #e9e9e9
$black = #333333
$gray1 = #b0b0b0
$gray2 = #999999
$blue = #6d99ca
