.banner
  width 100%
  flex none
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  .bannerTitle
    z-index 2
  img.bannerTitle
    margin-right 12px
  span.bannerTitle
    font-size $normalIconFont
    color $blue
  .background
    z-index 1
    height inherit
    position absolute
.home
  .banner
    height $higherBanner
.load, .passage
  .banner
    height $lowerBanner
.info, .download
  height: 148px
.noResult
  height 124px
  line-height 124px
  font-size 14px
  color #ffffff
  text-align center